body {
    /* font-family: Helvetica sans-serif; */
    height: 100%;
    padding: 0;
    margin: 0;
    /* overflow: hidden;
    -webkit-user-select: none;
       -moz-user-select: none;
         -o-user-select: none;
        -ms-user-select: none;
            user-select: none; */
}

canvas {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.75;
}

.naruto {
    /* The image used */
    background-image: url(../images/naruto.jpg);
    
    transform: scale(1.1);
    /* Full height */
    height: 100%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.info {
    position: absolute;
    top: 0;
    left: 0;
    padding: 5px 15px;
    color: #eee;
    font-size: 13px;
    background-color: rgba(0, 0, 0, .5);
}